doctype html
html
	head
		title wschat
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/script.js")
		link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
	body
		.menu
			.back
				i.fa.fa-pied-piper
			.logo wschat
		ol.chat
		input.textarea(type='text', placeholder='Type here!', id='submit')
		div.emojis